:root {
}

* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
}

/* Start Size's */
.size-xs {
  font-size: 1rem;
}
.size-s {
  font-size: 2rem;
}
.size-m {
  font-size: 3rem;
}
.size-l {
  font-size: 4rem;
}
.size-xl {
  font-size: 5rem;
}
.size-xxl {
  font-size: 1rem;
}
/* End Size's */

/* Start Padding */
.padding-xs {
  padding: 0.5rem;
}
.padding-s {
  padding: 1rem;
}
.padding-m {
  padding: 2rem;
}
.padding-l {
  padding: 3rem;
}
.padding-xl {
  padding: 4rem;
}
.padding-xxl {
  padding: 5rem;
}
/* Right Padding */
.padding-r-xs {
    padding: 0.5rem;
  }
  .padding-r-s {
    padding: 1rem;
  }
  .padding-r-m {
    padding: 2rem;
  }
  .padding-r-l {
    padding: 3rem;
  }
  .padding-r-xl {
    padding: 4rem;
  }
  .padding-r-xxl {
    padding: 5rem;
  }
/* End Padding */
